*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries/
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/codeStyles
.DS_Store
/build/
build/
/captures
.externalNativeBuild
.cxx
/buildSrc/build
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dbnavigator.xml
