<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".Application.FESBCompanion"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="FESB Companion"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="label"
        android:forceDarkAllowed="false">

    <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5944203368510130~8955475006"/>

        <activity
            android:name=".feature.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Simple"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".view.activities.NoteActivity"
            android:label=""
            android:parentActivityName=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activities.Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="Postavke"
            android:parentActivityName=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".feature.menza.view.MenzaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Simple" />
    </application>

</manifest>